<h1>Your search result displayed below ......</h1>

<ol>
	<% data['Search'].forEach(function(movies) { %>
		<li><em><%= movies['Title'] %></em> - <%= movies['Year'] %></li>
	<% }) %>
</ol>

<a href="/">Search Again</a>